*{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    padding: 0px;
    margin: 0px;
    background-image: url('./images/background3.jpg');
}

nav{
    height: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

nav div{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
nav div ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav div ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}
nav div ul li a:hover{
    color: rgb(65, 132, 183);
}

nav div h1{
    font-weight: 500;
    letter-spacing: 2px;
}
header{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
header .container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-bottom: 120px;
}

.subtitle{
    padding: 0px;
    margin: 0px;
    color: rgb(181, 178, 178);
}

.title{
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    color: rgb(181, 178, 178);
}

.cotation{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(181, 178, 178);
}

.dev{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    margin-top: 18px;
    margin-bottom: 28px;
}
.action{
    display: flex;
    column-gap: 8px;
}

.action button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.work-btn{
    background-color:  rgb(65, 132, 183);
    color: white;
    border-style: none;
}

.work-btn:hover{
    background-color: rgb(115, 115, 246);
    color: black;
    transition: 0.5s;
}

.hire-btn{
    background-color: white;
    color:  rgb(65, 132, 183);
    border-style: solid;
    border-width: 3px;
    border-color:  rgb(65, 132, 183);
}

.hire-btn:hover{
    background-color:  rgb(65, 132, 183);
    color: white;
    transition: 0.5s;
}

.header-social-box{
    padding-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-social-box button{
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: rgb(65, 132, 183);
    color: white;
}

.header-social-box button:hover{
    background-color: rgb(115, 115, 246);
    color: black;
}
.about-me{
    /* background-color: #EAEDF2; */
    display: flex;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.about-me .container{
    width: 75%;
}
.about-me h1{
    padding: 0px;
    margin-bottom: 0px;
    color: rgb(181, 178, 178);

}

.about-me p{
    color: white;
    letter-spacing: 2px;
}

.about-image-box{
    display: flex;
    gap: 50px;
    margin-top: 40px;
    align-items: center;
}

.image-box{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.social-box{
    width: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 2px;
    background-color: white;
    position: absolute;
    top: 280px;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
}

.social-box button {
    width: 28px;
    height: 28px;
    border-style: none;
    background-color:  rgb(65, 132, 183);
}

.social-box button a{
    color: white;
}

.social-box button:hover{
    background-color: black;
}

.lead{
    font-weight: 400;
    color: white;
}
.pers-info{
    display: flex;
    color: white;
    justify-content: space-between;
}

.pers-info .label{
    display: flex;
    align-items: center;
    
}

.pers-info p{
    font-size: small;
    color: white;
    font-weight: 500;
}

.pers-info .label h5{
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
    padding-right: 40px;
    margin-right: 24px;
    font-weight: 500;
}
.dwn{
    background-color: rgb(65, 132, 183);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 28px;
}

.skills{
    padding-top: 58px;
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
    color: white;
}
.skills .container{
    width: 75%;
}

.skills-box{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
    margin-top: 32px;
}

/* .skills .card{
    background-color: white;  
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    border-radius: 4px;
    color: black;
    box-shadow: 0 0 10px 0 rgb(88, 88, 88);
} */

/* .skills .card-box{
    display: flex;
    gap: 35px;
    width: 50%;
    flex-wrap: wrap;
} */

.p-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentage{
    width: 47%;
}

.p-main{
    height: 6px;
    background-color: rgb(181, 178, 178);
}

.p-unit{
    width: 60%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit1{
    width: 70%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit2{
    width: 65%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit3{
    width: 80%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit4{
    width: 40%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit5{
    width: 50%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.p-unit6{
    width: 90%;
    background-color:  rgb(65, 132, 183);
    height: 100%;
}

.projects{
    padding-top: 58px;
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
    color: white;
}

.projects .container{
    width: 75%;
}

.projects-box{
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

.projects-box .card{
    padding: 24px;
    color: rgb(65, 132, 183);
    border-radius: 16px;
    background-color: white;
}

.projects-box .card button{
    width: 58px;
    height: 58px;
    border-radius: 30px;
    border-color: rgb(65, 132, 183);
    border-width: 4px;
    background-color: white;
    font-size: 20px;
    color: rgb(65, 132, 183);
}